.profile_container {
  margin: 0 auto;
  max-width: 50%;
}

mat-card {
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.input-no-editable {
  cursor: none;
  border: none;
  pointer-events: none;
  user-focus-pointer: none;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
