<div class="example-container">

  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached">
      Fetching users... Please be patient ;)
    </div>
  </div>

  <button class="fab-button" mat-fab extended color="primary" [routerLink]="'/users/new'">
    <mat-icon>add</mat-icon>
    Añadir usuario
  </button>

  <div class="user-top-layout">
    <h2>Gestión de usuarios</h2>
    <h3>Aquí encontrarás la información sobre todos los usuarios</h3>
  </div>


  <div class="example-table-container">
    <div class="table-search-container">
      <div class="search-bar">
        <mat-icon>search</mat-icon>
        <input type="search" placeholder="Search for users..." matInput (keyup)="applyFilter($event)">
      </div>

      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option (selectionChange)="onChipSelectionChanged($event)" >Activos</mat-chip-option>
        <mat-chip-option (selectionChange)="onChipSelectionChanged($event)" >Inactivos</mat-chip-option>
      </mat-chip-listbox>
    </div>


    <mat-divider> </mat-divider>

    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="names">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre y Apellidos</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">{{user.firstName}} {{user.lastName}}</mat-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header disabled="true ">Estado</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">
            <div *ngIf="user.enabled == true" class="status-success">Activo</div>
            <div *ngIf="user.enabled == false" class="status-failed">Inactivo</div>
          </mat-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Creado en</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">{{getDate(user.createdAt)}}</mat-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Actualizado en</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">{{getDate(user.updatedAt)}}</mat-cell>
        </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th>
          <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true">Acciones</mat-header-cell>
        </th>
        <td>
          <mat-cell *matCellDef="let user">
            <div id="actions_container">
              <button type="button" class="ic_edit" [routerLink]="['/users', user.id, 'edit']">
                <img class="action_img" ngSrc="assets/ic_edit.svg" alt="Edit" height="24" width="24">Edit
              </button>
              <button type="button" class="ic_delete" (click)="deleteUser(user.id)">
                <img class="action_img" ngSrc="assets/ic_delete.svg" height="24" width="24">Delete
              </button>
            </div>
          </mat-cell>
        </td>
      </ng-container>

      <tr>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      </tr>
      <tr>
        <mat-row mat-ripple *matRowDef="let user; columns: displayedColumns;"></mat-row>
      </tr>
    </table>
    <mat-paginator #paginator
                   [length]="dataSource.data.length"
                   [pageIndex]="0"
                   aria-label="Select page">
    </mat-paginator>
  </div>


</div>
