mat-card {
  margin: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  position: relative;
  word-wrap: break-word;
}

mat-paginator {
  padding-bottom: 50px;
}

.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

/*table columns section*/
.mat-column-id,
.mat-column-status {
  width: min-content;
  flex: 0 0 100px;
}

.mat-column-name,
.mat-column-createdAt,
.mat-column-updatedAt{
  width: min-content;
  flex: 0 0 180px;
}

.mat-column-email,
.mat-column-paymentCard {
  width: min-content;
  word-break: break-all;
}

.mat-column-actions {
  flex: 2;
}


/*actions section*/
#actions_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.ic_action {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding-top: 5px;
}

#actions_container svg {
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
}

.table-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/*search section*/
.search-bar {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px 20px;
  border: none;
}

.search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-bar input:focus {
  border: none;
  outline: none;
}

.search-bar mat-icon {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
}
