.example-container {
  position: relative;
  background-color: #f3f5f9;
}

.example-table-container {
  min-height: 200px;
  overflow: auto;
  border-radius: 12px;
  padding : 20px;
  margin-top: 40px;
  margin-inline: 40px;
  margin-bottom: 80px;
  background-color: white;
}

mat-paginator {
  margin-bottom: 100px;
  height: 50px;
}
mat-table {
  overflow: auto;
}

.user-top-layout{
  background-color: white;
  padding-block: 20px;
  padding-inline: 40px;
}

.full-width-table {
  width: 100%;
}

.fab-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-loading-shade mat-spinner {
  width: 100px;
  height: 100px;

}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}


.mat-column-id,
.mat-column-status {
  width: min-content;
}

.mat-column-email,
.mat-column-paymentCard {
  width: min-content;
  word-break: break-all;
}

.mat-column-select {
  overflow: initial;
}

.status-success {
  background-color: #e8f7f2;
  color: #1bac84;
  border-radius: 6px;
  padding: 5px 8px;
  width: min-content;
}

.status-failed {
  background-color: #fff5e8;
  color: #fea235;
  border-radius: 6px;
  padding: 5px 8px;
  width: min-content;
}


/*actions section*/
#actions_container {
  display: flex;
  justify-content: space-between;
}

.ic_edit, .ic_delete {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  padding: 5px;
}

.ic_edit:hover, .ic_delete:hover {
  background-color: #f5f5f5;
}

.action_img {
  width: 24px;
  height: 24px;
}

.table-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.search-bar {
  display: flex;
  width: 70%;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px 20px;
  border: none;
}
.search-bar input::placeholder {
  color: #ccc;
}
.search-bar input:focus {
  border: none;
  outline: none;
}

.search-bar mat-icon {
  position: relative;
  color: #ccc;
}
